<?php $this->partial("layouts/front_layout/header_login"); ?>
<script>
    // this is the id of the form
    $("#formSignup").submit(function(e) {
        var url = "<?php echo $action; ?>"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: $("#formSignup").serialize(), // serializes the form's elements.
            success: function(data)
            {
                alert(data); // show response from the php script.
            }
        });
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });

//    function submitSignUp() {
//        $('#formSignup').validate(validateLogin2);
//        $('#formSignup').ajaxForm(optionsForm2);
//        $('#formSignup').submit();
//    }
//    var validateLogin2 = {
//        rules: {email: {required: true}},
//        messages: {email: {required: "Please enter a Email"}}
//    }
//    /*============*/
//    var optionsForm2 = {
//        dataType: 'json',
//        beforeSubmit: showRequest2,
//        success: showResponse2
//    }
//    function showRequest2(formData, jqForm, options) {
//        return true;
//    }
//    function showResponse2(response, statusText, xhr, $form) {
//        console.log(typeof response);
//        response = parseJson(response);
//        if (response.isSuccess) {
//            gotoDashboard();
//            showModalInfo(response.message);
//        } else {
//            showModalInfo(response.message);
//            $('#formMessage').fadeOut(500, function () {
//                $(this).text(response.message).fadeIn(500);
//            });
//        }
//    }
    /*============*/
//    $(document).ready(function () {
//    });
</script>
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form id="formSignup" class="login-form" action="<?php echo $action; ?>" method="post">
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>Register</h4>
                        <p class="center">Join to our community now !</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        <input id="email" type="email" name="username">
                        <label for="email" class="center-align">Email</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" type="password" name="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password-again" type="password">
                        <label for="password-again">Password again</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light col s12">Submit</button>
                        <!--<a href="index.html" class="btn waves-effect waves-light col s12">Register Now</a>-->
                    </div>
                    <div class="input-field col s12">
                        <p class="margin center medium-small sign-up">Already have an account? <a href="page-login.html">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('#password-again').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                submitSignUp();
            }
        });
    </script>
<?php $this->partial("layouts/front_layout/footer_login"); ?>