<?php $this->partial("layouts/admin_layout/header"); ?>
<div class="row">
<?php $i = 0;
    $image = "/tema1/images/sy_tnr.png";
    $months = array("Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Ags", "Sep", "Okt", "Nov", "Dec");
    $listJadwal = $listFromController;
foreach($listJadwal as $month):
    $jadwalDetil = StrJadwalDetil::findFirstByIdJadwal($month->id);
    ?>

    <div class="col s12 m4 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <?php if( $i % 2 != 0) :
                    $image = "/tema1/images/sy_jadwal.png" ?>
                <?php else:
                    $image = "/tema1/images/sy_tnr.png";
                endif; ?>
                <img src="<?php p_assets_url($image)?>"
                     style="width: 50px;padding: 3px;margin-bottom: 10px;position: absolute;z-index: 999;">
                <img class="activator" src="<?php p_assets_url();?>/tema1/images/office.jpg" alt="office">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">STR <?php echo $month->str_tgl ?> <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a>
                </p>
            </div>
            <!--///////////////////////////-->
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Jadwal Bln. <strong><?php echo $month->str_bulan; ?></strong> <i class="mdi-navigation-close right"></i></span>
                <p>
                    <span>Kuota Jantan: <?php echo !empty($jadwalDetil) ? $jadwalDetil->jantan_kuota : "-"; ?></span><br>
                    <span>Kuota Betina: <?php echo !empty($jadwalDetil) ? $jadwalDetil->betina_kuota : "-"; ?></span><br>
                    <i>Catatan: <br><strong><?php echo $month->notes; ?></strong></i><br>
                    Alamat detil hanya diberikan setelah mendapat kuota dan transfer DP min. 50%<br>
                    <strong>ke: BCA a/n Lily Wijaya 4671-416-338.</strong>
                    <div class="waves-color-demo">Semua Jadwal Pondo Gede, menerima pendaftaran Steril Anjing.</div>
                    <span>Tgl Input: <?php echo date('d-M-Y H:m:s', strtotime($month->date_created)) ?></span>
                </p>
            </div>
        </div>
    </div>
<?php $i++; endforeach; ?>

</div>
<?php $this->partial("layouts/admin_layout/footer"); ?>