<?php $this->partial("layouts/front_layout/header_login"); ?>
<script>
    var validateLogin = {
        rules: {
            username: {required: true},
            password: {required: true}
        },
        messages: {
            username: {required: "Please enter a Username"},
            password: {required: "Please enter a password"}
        }
    }

    var optionsForm = {
        dataType: 'json',
        beforeSubmit: showRequest,
        success: showResponse
    }

    function showRequest(formData, jqForm, options) {
        return true;
    }

    function showResponse(response, statusText, xhr, $form) {
        response = parseJson(response);
        if (response.isSuccess) {
            gotoDashboard();
        } else {
            showModalInfo(response.message);
            $('#formMessage').fadeOut(500, function () {
                $(this).text(response.message).fadeIn(500);
            });
        }
    }

    function gotoDashboard() {
        location.href = "<?php p_base_url();?>/<?php echo $success_url;?>";
    }

    function submitFormLogin() {
        $("#formLogin").validate(validateLogin);
        $('#formLogin').ajaxForm(optionsForm);
        $('#formLogin').submit();
    }

</script>
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <!--Action berasal dari Login Controller-->
            <!--$model['action'] = base_url()."/login/authAdmin";-->
            <form class="login-form" id="formLogin" action="<?php echo $action; ?>" method="post">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="<?php p_assets_url(); ?>/tema1/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                        <p class="center login-form-text"> Selamat Datang di Steril Yuk</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input id="username" name="username" type="text">
                        <label for="username" class="center-align">Username</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" name="password" type="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12  login-text">
                        <input type="checkbox" id="remember-me"/>
                        <label for="remember-me">Remember me</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="button" onclick="submitFormLogin()"
                                class="btn waves-effect waves-light col s12">Login</button>
                        <!--<a class="btn waves-effect waves-light col s12">Login</a>-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small">
                            <a href="<?php p_base_url() ?>/sign_up/index">Register Now!</a>
                        </p>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
                    </div>
                </div>

            </form>
        </div>
    </div>
<script>
    $('#password').bind('keypress', function (e) {
        if (e.keyCode == 13) {
            submitFormLogin();
        }
    });
</script>
<?php $this->partial("layouts/front_layout/footer_login"); ?>