<?php $this->partial("layouts/admin_layout/header"); ?>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="<?php p_base_url($model['url_form'])?>">
            <i class="large mdi-content-add"></i>
        </a>
    </div>

    <div class="row">
    <?php for($i = 0; $i < count($dataArray); $i++):
        $strUser = "";
        $strAccount = $dataArray[$i];
        if( $strAccount->id_user ){
            $strUser = \StrUser::findFirstById($strAccount->id_user);
        };?>
        <!--/////////////////////////////////////////////////-->
        <div class="col s12 m4 l4">
            <div id="profile-card" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<?php p_base_url()?>/tema1/images/user-bg.jpg" alt="user bg">
                </div>
                <div class="card-content">
                    <img src="<?php p_base_url()?>/tema1/images/avatar.jpg" alt="" class="circle responsive-img activator card-profile-image">
                    <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                        <i class="mdi-editor-mode-edit"></i>
                    </a>

                    <span class="card-title activator grey-text text-darken-4"><?php echo $strAccount->username; ?></span>
                    <p><i class="mdi-action-perm-identity"></i> Project Manager</p>
                    <p><i class="mdi-action-perm-phone-msg"></i> <?php echo(empty($strUser)?"-": $strUser->tlp); ?></p>
                    <p><i class="mdi-communication-email"></i> <?php echo(empty($strUser)?"-": $strUser->email); ?></p>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"> <?php echo(empty($strUser)?"-": $strUser->nama); ?><i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this card.</p>
                    <p><i class="mdi-action-perm-identity"></i> Project Manager</p>
                    <p><i class="mdi-action-perm-phone-msg"></i> <?php echo(empty($strUser)?"-": $strUser->tlp); ?></p>
                    <p><i class="mdi-communication-email"></i> <?php echo(empty($strUser)?"-": $strUser->email); ?></p>
                    <p><i class="mdi-social-cake"></i> 18th June 1990
                    <p>
                    <p><i class="mdi-device-airplanemode-on"></i> BAR - AUS
                    <p>
                </div>
            </div>
        </div>
    <?php endfor ?>
    </div>
<?php $this->partial("layouts/admin_layout/footer"); ?>