<h5 class="breadcrumbs-title"><?php echo $model['title']; ?></h5>
<ol class="breadcrumb">
    <?php if($model['title_bread'] != "Dashboard"){ ?>
        <li>
            <a href="<?php p_base_url('/admin/dashboard') ?>">Dashboard</a>
        </li>
    <?php } ?>
    <!--<li><a href="#">Forms</a></li>-->
    <li class="active"><?php echo $model['title_bread']; ?></li>
</ol>
<!--<li id="bread_li" class="active"><a id="brad_link" href="#"></a></li>-->