<!-- START LEFT SIDEBAR NAV-->
<ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="user-details cyan darken-2">
        <div class="row">
            <div class="col col s4 m4 l4">
                <img src="<?php p_base_url('/tema1/images/avatar.jpg') ?>" alt="" class="circle responsive-img valign profile-image">
            </div>

            <div class="col col s8 m8 l8">
                <ul id="profile-dropdown" class="dropdown-content">
                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                    </li>
                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                    </li>
                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                    </li>
                    <li><a href="<?php echo base_url("/login/logOutAdmin"); ?>"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                    </li>
                </ul>
                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#"
                   data-activates="profile-dropdown"><?php echo $this->session->session_username; ?><i class="mdi-navigation-arrow-drop-down right"></i></a>
                <p class="user-roal">Administrator</p>
            </div>
        </div>
    </li>
    <li class="bold">
        <a href="<?php echo base_url(); ?>/admin/dashboard" class="waves-effect waves-cyan">
            <i class="mdi-action-view-day"></i>Jadwal</a>
    </li>
    <li class="bold">
        <a href="<?php echo base_url(); ?>/admin/str_jadwal" class="waves-effect waves-cyan">
            <i class="mdi-action-find-replace"></i>Registrasi</a>
    </li>
    <li class="bold">
        <a href="<?php echo base_url(); ?>/admin/payment" class="waves-effect waves-cyan">
            <i class="mdi-action-find-replace"></i>Payment</a>
    </li>
    <?php /*$this->partial("layouts/admin_layout/menu_example") */?>
</ul>
<a href="#" data-activates="slide-out"
   class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i
        class="mdi-navigation-menu"></i></a>
<!-- END LEFT SIDEBAR NAV-->