<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("str_data_kucing/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("str_data_kucing/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id Of User</th>
            <th>Nama</th>
            <th>Jns Of Kucing</th>
            <th>Jns Of Kelamin</th>
            <th>Jumlah</th>
            <th>Deskripsi</th>
            <th>Date Of Created</th>
            <th>Date Of Updated</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_data_kucing) { ?>
        <tr>
            <td><?php echo $str_data_kucing->id ?></td>
            <td><?php echo $str_data_kucing->id_user ?></td>
            <td><?php echo $str_data_kucing->nama ?></td>
            <td><?php echo $str_data_kucing->jns_kucing ?></td>
            <td><?php echo $str_data_kucing->jns_kelamin ?></td>
            <td><?php echo $str_data_kucing->jumlah ?></td>
            <td><?php echo $str_data_kucing->deskripsi ?></td>
            <td><?php echo $str_data_kucing->date_created ?></td>
            <td><?php echo $str_data_kucing->date_updated ?></td>
            <td><?php echo $this->tag->linkTo(array("str_data_kucing/edit/" . $str_data_kucing->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("str_data_kucing/delete/" . $str_data_kucing->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("str_data_kucing/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("str_data_kucing/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("str_data_kucing/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("str_data_kucing/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
