<!--<html>-->
<!-- ================================================
Scripts
================================================ -->
        <div id="modalInfo" class="modal">
            <label class="modal-title" style="font-size: 22px;font-family:times;padding: 10px;">
                <i class="mdi-action-info-outline"></i>&nbsp;Info
            </label>
            <div class="modal-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="modal-footer">
                <!--<a href="#" class="btn waves-effect waves-light red modal-action modal-close">Batal</a>-->
                <a href="#" class="btn waves-effect waves-light blue modal-action modal-close">Ok</a>
            </div>
        </div>
        <div id="modalWarning" class="modal">
            <label class="modal-title" style="font-size: 22px;font-family:times;padding: 10px;">
                <i class="mdi-action-info-outline"></i>&nbsp;Warning
            </label>
            <div class="modal-content yellow lighten-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="modal-footer yellow lighten-4">
                <!--<a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Batal</a>-->
                <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Ok</a>
            </div>
        </div>

        <script src="<?php p_assets_url(); ?>/tema1/plugins/jQuery/jQuery-2.1.4.min.js"></script><!-- jQuery 2.1.4 -->
        <script src="<?php p_assets_url(); ?>/tema1/js/jquery.form.min.js"></script>
        <script src="<?php p_assets_url(); ?>/tema1/js/jquery.validate.js"></script>
        <!-- jQuery Library -->
        <!--<script type="text/javascript" src="<?php /*p_assets_url(); */?>/js/jquery-1.11.2.min.js"></script>-->
        <!--materialize js-->
        <script type="text/javascript" src="<?php p_assets_url(); ?>/tema1/js/materialize.js"></script>
        <!--prism-->
        <script type="text/javascript" src="<?php p_assets_url(); ?>/tema1/js/prism.js"></script>
        <!--scrollbar-->
        <script type="text/javascript" src="<?php p_assets_url(); ?>/tema1/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

        <!--plugins.js - Some Specific JS codes for Plugin Settings-->
        <script type="text/javascript" src="<?php p_assets_url(); ?>/tema1/js/plugins.js"></script>


        <script>
            function showModalInfo(message) {
                $('#modalInfo .modal-content').text(message);
                $('#modalInfo').openModal();
            }
            function showModalWarning(message) {
                $('#modalWarning .modal-content').text(message);
                $('#modalWarning').openModal();
            }
        </script>
    </body>
</html>