<!DOCTYPE html>
<html lang="en">
    <head>
    <!--=HEAD HEAD HEAD=====================================-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
        <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
        <title>Login Page | SS</title>

        <!-- Favicons-->
        <link rel="icon" href="<?php p_assets_url(); ?>/tema1/images/favicon/favicon-32x32.png" sizes="32x32">
        <!-- Favicons-->
        <link rel="apple-touch-icon-precomposed" href="<?php p_assets_url(); ?>/tema1/images/favicon/apple-touch-icon-152x152.png">
        <!-- For iPhone -->
        <meta name="msapplication-TileColor" content="#00bcd4">
        <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
        <!-- For Windows Phone -->

        <!-- CORE CSS-->
        <link href="<?php p_assets_url(); ?>/tema1/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<?php p_assets_url(); ?>/tema1/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<?php p_assets_url(); ?>/tema1/css/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">

        <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
        <link href="<?php p_assets_url(); ?>/tema1/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<?php p_assets_url(); ?>/tema1/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

        <script src="<?php p_assets_url(); ?>/tema1/plugins/jQuery/jQuery-2.1.4.min.js"></script><!-- jQuery 2.1.4 -->
        <script type="text/javascript" src="<?php p_assets_url(); ?>/tema1/js/jquery.form.min.js"></script>
        <script type="text/javascript" src="<?php p_assets_url(); ?>/tema1/js/jquery.validate.js"></script>

        <script>
            function parseJson(data) {
                if (typeof data == "string")
                    data = jQuery.parseJSON(data);
                return data;
            }
        </script>

    <!--======================================-->
    </head>
    <body class="cyan">
    <!--=BODY BODY BODY=====================================-->
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->