<?php $this->partial("layouts/admin_layout/header"); ?>
<div class="row">
<?php $i = 0;
    $image = "/tema1/images/sy_tnr.png";
    $listPayment = $listFromController;
foreach($listPayment as $payment):
    $paymentDetil = StrPaymentDetil::findFirstByIdPayment($payment->id);
    ?>

    <div class="col s12 m4 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <?php if( $i % 2 != 0) :
                    $image = "/tema1/images/sy_jadwal.png" ?>
                <?php else:
                    $image = "/tema1/images/sy_tnr.png";
                endif; ?>
                <img src="<?php p_assets_url($image)?>"
                     style="width: 50px;padding: 3px;margin-bottom: 10px;position: absolute;z-index: 999;">
                <img class="activator" src="<?php p_assets_url();?>/tema1/images/office.jpg" alt="office">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">No. Registrasi:
                    <?php echo $payment->no_reg ?> <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a>
                </p>
            </div>
            <!--///////////////////////////-->
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Rekening:
                    <strong><?php echo $paymentDetil->norek_transfer; ?></strong> <i class="mdi-navigation-close right"></i></span>
                <p>
                    <span>Jumlah Transfer: <?php echo !empty($paymentDetil) ? $paymentDetil->jumlah_transfer : "-"; ?></span><br>
                    <span>Nama Pengirim: <?php echo !empty($paymentDetil) ? $paymentDetil->nama_pengirim : "-"; ?></span><br>
                    <span>Bukti Transfer</span>
                    <div id="material-box" class="section">
                        <img class="materialboxed" width="120" src="<?php p_base_url($paymentDetil->path_small); ?>" alt="sample">
                    </div>
                    <span>Tgl Input: <?php echo date('d-M-Y H:m:s', strtotime($payment->date_created)) ?></span>
                </p>
            </div>
        </div>
    </div>
<?php $i++; endforeach; ?>

</div>
<?php $this->partial("layouts/admin_layout/footer"); ?>